<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="DataSplice.Services.GPS.GPSWebService"
               behaviorConfiguration="GPSServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/gps"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/gps  -->
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="DataSplice.Services.GPS.IGPSWebService"
                  behaviorConfiguration="rest"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/gps/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="rest" >
          <webHttp
              automaticFormatSelectionEnabled="false"
              defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="GPSServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
